version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_music_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./cache:/app/cache
      - ./cookies.txt:/app/cookies.txt
    networks:
      - bot_network

networks:
  bot_network:
    driver: bridge
